
<style>
img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    margin: auto;
}

.center {
  display: block;
  margin-left: 50px;
  margin-right: auto;
}

.header {
  padding: 50px;
  text-align: center;
  font-size: 60;
  font-family: Arial;
}

</style>

<div class="center">
    <h1 class="header">
    <%= @entry["username"] %>
    thinks that
    <%= @entry["answer"] %>
    is the Cutest :)
    </h1>

    <p class="center">
        <%= image_tag @entry['answer']+'.jpg' %>
    </p>
</div>

<%= link_to 'Back', entries_path %>
